*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: sans-serif;
}

.nav-bar
{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    position: relative;
    width: 100%;
}

.menu
{
    text-decoration: none;
    color: wheat;
    margin: 15px;
    font-size: 18px;
}
.sub-container
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.sub-container img{
    border-radius: 50%;
    height: 150px;
    border: solid black 3px;
}
.text
{
    text-align: center;
    margin-top: 10px;

}